@{
    ViewBag.Title = "Index";
}
<div>
@Html.ActionLink("Posts", "Posts", "Admin", null, new{@class="btn"})
@Html.ActionLink("Users", "Users", "Admin", null, new{@class="btn"})
@Html.ActionLink("Comments", "Comments", "Admin", null, new{@class="btn"})
</div>